.logo img{
    max-height: 55px;
}
.big-banner{
    min-height: 503px;
    /* display: flex; */
    background: url('../img/big-banner-1.png') no-repeat;
    background-size: cover;
}
.main-navigation a{
    color: #fff;
    padding-right: 10px;
    text-decoration: none;
}
.main-navigation a:hover{
    color: #fa8507;
    transition: 1s;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
}
.phone-text{
    a:hover{color: #fa8507;}
    button:hover{
        color: #fa8507;
        background-color: #fff;
        transition: 1s;
        cursor: pointer;
    }
    a{color: #fff;}
    p{margin: 0;}
    button{
        margin-top: 7px ;
        color: #fff;
        background-color: #fa8507;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
    }
    color: #fff;
}
.fa-phone{
    color: #fff;
    font-size: 27px;
    padding-top: 7px;
}
.text-header-banner{
    text-align: center;
    color: #fff;
    margin-top: 10%;
}
.text-header-banner h2{
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}
.text-header-banner p:first-child{
    font-family: cursive;
}
.text-header-banner span{
    white-space: pre;
    text-decoration: line-through;
}
.text-header-banner button{
    color: #fff;
    background-color: #fa8507;
    padding: 7px 21px;
    border-radius: 5px;
    border: none;
    box-shadow: #777 1px -1px 3px;
}
.text-header-banner button:hover{
        color: #fa8507;
        background-color: #fff;
        transition: 1s;
        cursor: pointer;
}
.our-story{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.block-our-story i{
    font-size: 5rem;
    color: #fa8507;
    padding-top: 15px;

}
.our-story h2{
    color: #00010a;
    font-family: cursive;
    font-size: 3rem;
}
.block-our-story h2 span{
    color: #fa8507;
}
.block-our-story .main-text-p{
    font-size: 1.5rem;
}
.block-our-story h5{
    font-size: 3rem;
    font-style: italic;
    font-family: cursive;
    margin: 0;
}
.block-our-story .col-9 p{
    margin: 0;
    font-size: 1.5rem;
}
.block-our-story .col-3 {
    align-items: center;
}
.block-our-story .number p{
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    margin-top: 0;
}
.our-strength{
    margin: 100px 0;
}
.our-strength .header-our-strange{
    text-align: center;
}
.our-strength .header-our-strange h2{
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    font-family: cursive;
    margin-bottom: 0;
}
.our-strength h2 span{
    color: #fa8507;
}
.our-strength .block-items{
    margin: 70px;
    justify-content: center;
}
.our-strength .block-items .item{
    text-align: center;
}
.our-strength .block-items .item i{
    font-size: 60px;
    color: #fa8507;
}
.our-strength .block-items .item h3{
    font-family: cursive;
}
.business-lunch{
    background: url('../img/biznes-lanch.png');
    margin: 70px 0;
}
.my-conainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5% 0 5% 0;
}
.my-text{
    font-size: 2rem;
    color: #fff;
    width: 68%;
    display: inline-block;
}
.my-button{
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    width: 28%;
}
.my-button button{
    width: 8rem;
    color: #fff;
    background-color: #fa8507;
    padding: 7px 21px;
    border-radius: 5px;
    border: none;
    box-shadow: #777 1px -1px 3px;
    /* float: right; */
}
.my-button button:hover{
    color: #fa8507;
    background-color: #fff;
    cursor: pointer;
    transition: 0.8s;
}
.our-menu{

}
.our-menu .header{
    text-align: center;
}
.our-menu .icon-block{
    width: 50%;
    border: #fff 2px solid;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.daily-offer .header{
    margin-bottom: 75px;
}
.daily-offer .header h2{
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
    font-family: cursive;
    margin-bottom: 0;
}
.daily-offer .my-conainer{
    text-align: center;
}
.daily-offer .my-conainer .flex-box{
    display: flex;
    max-height: 550px;
}
.daily-offer .img-bunner, .daily-offer .item-block{

}
.daily-offer .my-conainer .item-block .item-text p:first-child{
    font-size: 1.2rem;
}
.daily-offer .my-conainer .item-block .item-text p:last-child{
    color: #777;
}
.daily-offer .my-conainer .item-block .item{
    display: flex;
    border: 1px #999 solid;
}
.daily-offer .img-bunner{
    background-image: url(../img/daily-offer-img.png);
    width: 516px;
    height: 431px;
    background-size: contain;
    background-repeat: no-repeat;
}
.daily-offer .my-conainer .item-block{
    /* display: flex; */
}
.daily-offer .my-conainer .item-block .item-icon i{
    color: #fa8507;
    position: relative;
    top: 40%;
    right: -16px;
    font-size: 1.8rem;
}
/* Arseniy code */
.Check-Our-Menu{
    width: 100%;
    height: 1104px;
    background-image: url(../img/food-bg-4-1.jpg);
    background-repeat: no-repeat;
    
}
.block1{
    display: block;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
}
.block1 h2{
    padding-top: 150px;
    margin-bottom: 0;
}
.block2{
    display: block;
    text-align: center;
    font-size: 65px;

}
.chs .fa-solid{
    color: #fff;
    border-bottom:#fff 5px solid;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.check-menu{
    
    padding-top: 30px;
    
}

.sessdw :hover{
    border-bottom:#e7b039 5px solid;
}
.chs{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    
}

.altens-Menu{
    width: 80%;
    margin-top: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.alten{
    background: #fff;
    text-align: center;
}

.alten-img{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* END German code */
/* END German code */

.reviews .header 
{
 text-align: center;
}
.reviews
{
    margin: 90px 0;
    
}
.item-reviews 
{
    width: 47%;
    background-color: #f7f3f3;
    text-align: center;
    padding: 10px 10px;
   
}
.item-reviews img 
{
    border-radius: 86px;

}
.parents_class
{
    display: flex;
    justify-content: space-between;
    width: 52%;
    margin: 75px auto 0 auto;
    

}
.item-reviews p
{
    color: #bcbcc0;
}
/* END Arseniy code */
.Galei .header
{
    text-align: center;
    margin: 90px 0;
    font-style: italic;




}
.Galei .items-food
{
    display: flex;
    flex-wrap: wrap;


}
.Galei .item
{
    padding: 10px 10px;
    width: 25%;
    box-sizing: border-box;
    position: relative;

}
.Galei .item img
{
    width: 100%;


}
/* hover-block */
 .hover-block{
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 15px;
    color: #fff;
    background-color: #0e0c0cad;
    padding: 15px;
    width: 76%;
    height: 71%;
    opacity: 0;
    transition: opacity 0.8s;
 }
 .Galei .item:hover{
    .hover-block{
        z-index: 3;
        opacity: 1;
    }
 }

/* END hover-block */